.main {
  padding: 20px;
}

.title {
  color: #5C6AC4;
}
.button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}